.container {
    width : 80%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: darkslateblue ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


